.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    margin:0 auto;
}

/* Side Panels */
.panel-victor > .panel-heading {
    background-image: none;
    background-color: forestgreen;
    color: gold;
}
#pkmn1-panel {background: royalblue}
#pkmn2-panel {background: firebrick}
#pkmn1-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* Type Colors */
.Normal {background-color: rgb(168, 168, 120)}
.Fighting {background-color: rgb(192, 48, 40)}
.Flying {background-color: rgb(168, 144, 240)}
.Poison {background-color: rgb(160, 64, 160)}
.Ground {background-color: rgb(224, 192, 104)}
.Rock {background-color: rgb(184, 160, 56)}
.Bug {background-color: rgb(168, 184, 32)}
.Ghost {background-color: rgb(112, 88, 152)}
.Steel {background-color: rgb(184, 184, 208)}
.Fire {background-color: rgb(240, 128, 48)}
.Water {background-color: rgb(104, 144, 240)}
.Grass {background-color: rgb(120, 200, 80)}
.Electric {background-color: rgb(248, 208, 48)}
.Psychic {background-color: rgb(248, 88, 136)}
.Ice {background-color: rgb(152, 216, 216)}
.Dragon {background-color: rgb(112, 56, 248)}
.Dark {background-color: rgb(112, 88, 72)}
.Fairy {background-color: rgb(240, 152, 184)}

/* Additional Info */
.stat-bar {margin-bottom: -15px}
#pkmn1-trivia-panel {
    margin-left: -20px;
    margin-top: 45px
}
#pkmn2-trivia-panel {
    margin-right: -20px;
    margin-top: 45px
}

/* Blinking Winner Tag */
#winner-tag {
    margin-top: 12px;
    animation: blinker 1s cubic-bezier(1,-1,0,2) infinite;
}
@keyframes blinker {50% {opacity: 0}}
.victor1 {
    text-align: left;
    margin-left: -20px;
}
.victor2 {
    text-align: right;
    margin-right: -20px;
}

/* Battle Stuff */
#battle-pkmn1-name {
    background-color: royalblue;
    color: white
}
#battle-pkmn2-name {
    background-color: firebrick;
    color: white
}
#battle-button {
    background-color: rebeccapurple;
    color: white;
}
#battle-button > h1 {margin-top: 10px;}