<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokémon Predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <header class="navbar-header">
                <strong class="navbar-brand" href="#">Pokémon Predictor</strong>
            </header>

            <ul class="nav nav-tabs navbar-nav navbar-right">
                <li><a class="nav-link" href="#">Home</a></li>
                <li class="active"><a href="#">Stats</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>  
    </nav>

    <div class="container">
        <div id="pkmn1" class="col-md-4"></div>

        <div id="battle" class="col-md-4"><br><br><br><br><br><br><br></div>

        <div id="pkmn2" class="col-md-4"></div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../Resources/pokemon_with_tiers.js"></script>
    <script src="../static/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  
</body>

</html>
